html {
    font-family: Cambria, serif;
    color: midnightblue;
    font-size: 20px;  
}
header {
    background-color: plum;
}
body {
    background-color: plum;
    background-position: center;
    background-size: cover;
    width: 980px;
    margin-left: auto;
    margin-right: 30px;
    padding: 10px;
    padding-top: 0px;     
}
.navbar {
    width: 100%;
    overflow: auto;
    background-color: gray;
}
block {
    display: inline;
    min-width: 150px;
    min-height: 50px;
    border: 20px;
    font-size: 20px;
    text-align: center;   
}
block:hover {
        background-color: aqua;
}
* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: gray;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: gray;
  }
  
  .container {
    border-radius: 5px;
    background-color: pink;
    padding: 10px;
  }
  
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }